body {
  background: url('..assets/background-main-content-users.jpg') repeat;
}

/* Botons */
.btn-primary {
  background-color: #60B40C;
  border-color: #4D8F0C;
}
.btn-primary:hover {
  background-color: #4D8F0C;
  border-color: #4D8F0C;
}


.btn-info {
  background-color: #00ADA3;
  border-color: #007770;
}
.btn-info:hover {
  background-color: #009990;
}


/* Header */
#tr-header {
  background: url('..assets/background-header.png');
  border-bottom: 1px solid #D9D9D9;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-top: 10px;
}
#tr-header .actionsUser {
  float: right;
}
#tr-header .dropdown-language,
.dropdown-company {
  width: 80px;
  float: left;
}
#tr-header .actionsUser p,
#tr-header .actionsUser img {
  float: left;
  color: #FFF;
}
#tr-header .actionsUser img {
  width: 32px;
  margin-left: 8px;
}
#tr-header .actionsUser a {
  color: #53B1A2;  
}


/* Main content */
#main-content {
  margin-top: 53px;
  background-color: #FFF;
  padding: 0px;
  box-shadow: 0px 0px 23px #888;
}
.navigation-main-content {
  background: #cbdfd3; /* Old browsers */
  background: -moz-linear-gradient(top,  #cbdfd3 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbdfd3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cbdfd3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cbdfd3 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cbdfd3 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cbdfd3 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbdfd3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
  border-right: 1px solid #ccc;
  border-left: 1px solid #CCC;
}
.navigation-main-content img {
  float: left;
  width: 233px;
  padding-top: 11px;
  margin-left: 0;
}
.nav-main-content {
  float: right;
  padding-top: 20px;
}
.nav-main-content nav {
  float: right;
  padding-top: 32px;
}
.nav > li > a {
  padding: 16px 20px;
  font-size: 14px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #FFF;
  border-radius: 6px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #FFF;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
}
.navbar-default {
  background: none;
  border: none;
  margin-bottom: 0px;
}
.navbar-toggle {
  margin-right: 0;
  margin-top: 18px;
}
.nav {
  padding-top: 15px;
}


/* Content Home */
#content-home {
  background-color: #457781;
  border-radius: 6px;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
}
#content-home section {
  background-color: #000;
  border-radius: 6px;
  overflow: hidden;
}
#content-home h1 {
  color: #FFF;
  font-size: 18px;
  padding-left: 20px;
  border-bottom: 1px solid #FFF;
  margin: 10px 0;
  padding-bottom: 6px;
}
#content-home i {
  padding-right: 6px;
}
#content-home section article div {
  background-color: #EFEFEF;
  border-radius: 6px;
  overflow: hidden;
}
#content-home section h3 {
  padding: 10px;
  background-color: #518993;
  margin: 0;
  color: #FFF;
  font-size: 16px;
}
#content-home section article {
  margin-bottom: 15px;
}


/* Footer table */
#footer-table ul {
  margin: 0 auto;
}



/* Footer */
#tr-footer {
  width: 100%;
  min-height: 86px;
  clear: both;
  background: url('..assets/background-footer-login.jpg') repeat;
  padding-top: 20px;
  position: absolute;
}
#tr-footer p {
  text-align: center;
  color: #EEEEEE;
}
#tr-footer a {
  color: #81B365;
  font-size: 16px;
  padding: 0 4px;
}


/* Medias Query */
@media (max-width: 480px) {
    #tr-footer-contact {
      display: none;
    }
    #formNewsletter {
      display: none;
    }
    .table-code {
      display: none;
    }
    .table-user { 
      display: none;
    }
    #content-home table {
      font-size: 11px;
    }
}


@media (max-width: 993px) {
    #tr-footer-contact {
      display: none;
    }
}
