form(name="newParking",ng-submit="company.parking.new(name); name = ''")
  .form-group
    label {{'Name' | translate}}
    input.form-control(ng-model="name")
  .form-group
    button.btn.btn-danger.btn-md.pull-right.panel-close(data-dismiss="modal", aria-hidden="true", type="button") {{'Cancel' | translate}}
    input.btn.btn-success.btn-md.pull-right(style="margin-right:5px",type="submit", value="{{'Ok' | translate}}")
