form(name="Delete" ng-submit="Delete.$valid && clients.edit('unblock')")
  h4 ¿Undo Block?
  .form-group
    button.btn.btn-danger.pull-right(data-dismiss="modal") Cancel
    button.btn.btn-success.pull-right(style="margin-right:5px") Ok 
  


  
