form(name="Delete" ng-submit="Delete.$valid && configs.edit('del')")
  h4 ¿Delete Configuration?
  .form-group
    button.btn.btn-danger.pull-right(data-dismiss="modal") Cancel
    button.btn.btn-success.pull-right(style="margin-right:5px") Ok 
  


  
