form(name="Delete" ng-submit="Delete.$valid && users.edit('del')")
  h4 ¿Delete User?
  .form-group
    button.btn.btn-danger.pull-right(data-dismiss="modal") Cancel
    button.btn.btn-success.pull-right(style="margin-right:5px") Ok 
  
