.pageheader
    h2
      i.fa.fa-briefcase
      | {{'Operations' | translate}}
  .contentpanel.corp-panel
    .row
      .col-xs-12
        .panel.panel-default
          .panel-body
            table#corp-history
            #pager