html, body
{
  margin: 0px;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body *
{
  font-family: Arial !important;
  font-size: 14px;
  line-height: 20px;
}

a
{
  color: black;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

fieldset
{
  border: 0px;
}

table
{
  border-collapse: collapse;
}

/* Menu */
.ui-menu
{
  width: 150px;
}

#panel
{
  height: 100%;
  width: 100%;

  min-width: 1024px;
  min-height: 768px;
}

/* Map */
#map
{
  height: 50%;
  width: 100%;
}

/* Google Map */
#map_canvas
{
  height: 100%;
  width: 100%;
}

/* Grid */
#grid
{
  cursor: default;
  width: 100%;

  overflow-y: hidden;
}

/* Operations */
.operations_tab
{
  padding: 0px !important;
  overflow-y: auto;
}

.operations_tab tbody td, .operations_tab thead th
{
  border-style: groove;
  border-width: 0px 1px;
  text-align: center;
}

.operations
{
  width: 100%;
}

.operation_expired
{
  color: red;
}

/* Links */
a.assign_operation_link, a.cancel_operation_link, a.finish_operation_link
{
  cursor: pointer;
  font-weight: bold;
}

/* Tabs */
.ui-tabs-nav a
{
  cursor: pointer !important;
}

/* Icons */
.icon
{
  float: left;
  margin: 0 7px 20px 0;
}

/* Menu */
#menu
{
  float: right;
}

/* Loader */
#jquery-loader-background
{
  background-color: silver
}

#jquery-loader
{
    border: 2px black solid;
    padding-top: 35px;
    background-color: white;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
}

.marker_label
{
  background-color: white;
  border: 1px solid #aaaaaa;
  color: black;
  font-family: Arial;
  font-size: 10px;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  margin-top: 5px !important;
  height: 20px !important;
}

input, textarea, select
{
  border-radius: 5px;
}

/* Dialog */
.ui-dialog
{
  z-index: 999999999 !important;
}

.ui-datepicker, .ui-timepicker
{
  z-index: 9999999999 !important;
}

.driver_detail img
{
  width: 80px;
  height: 80px;
}

.driver_detail_title
{
  font-weight: bold;
  font-size: 20px !important;
  padding-bottom: 5px;
}

.driver_detail_label
{
  font-weight: bold;
  padding: 0px 5px;
}

.driver_detail_technical_information {
  color: gray;
  font-size: 9px;
  margin-top: 10px;
  text-align: right;
}

#map_controls {
  padding-right: 10px;
  position: absolute;
  right: 0px;
  top: 100px;
  z-index: 29000;
}

#map_controls div {
  cursor: pointer;
  height: 40px;
  width: 35px;
  background-position: 5px 7px;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

#map_controls #show_online_drivers_link {
  background-image: url(/static/images/panels/operator/status/driver_online.png);
}

#map_controls #show_offline_drivers_link {
  background-image: url(/static/images/panels/operator/status/driver_offline.png);
}

#map_controls #show_intravel_drivers_link {
  background-image: url(/static/images/panels/operator/status/driver_intravel.png);
}

#map_controls #show_disconnected_drivers_link {
  background-image: url(/static/images/panels/operator/status/driver_disconnected.png);
}

#map_controls #show_operations_link {
  background-image: url(/static/images/panels/operator/status/operation_pending.png);
}

#map_controls #show_parkings_link {
  background-image: url(/static/images/panels/operator/parking.png);
}

.map_controls_counter {
  color: white;
  font-size: 12px;
  height: 15px !important;
  margin-top: -25px;
  padding: 0px !important;
  position: absolute;
  right: 15px;
  text-align: right;
  text-shadow: 1px 1px black;
  width: 20px !important;
}

#zenbox_tab {
  display: none !important;
}
