.text-center
  br
  img(src="assets/account.png")
  h2 {{"RecAccount" | translate}}
  p {{"checkMailPassword" | translate}}
form.text-center(ng-submit="forgotPassword(credentials)", ng-class="{submited: forgotPassword.submited}", name="forgotPasswordForm", role="form", novalidate="")
  .col-xs-12
    .input-group
      span.input-group-addon @
      input.form-control(type="email", ng-required="true", placeholder="{{'Email' | translate}}", ng-model="credentials.email")
  .col-xs-12
    button.btn.btn-default(ng-click="forgotPasswordForm.submited = true") {{"Sendmail" | translate}}

