.pageheader
  h2
    i.fa.fa-history
    | {{'Scheduled' | translate}}
.contentpanel
  .col-xs-8
  .col-xs-2
    .input-group.input-sm(ng-init="searchBy = 'id'")
      select.form-control(ng-model="searchBy")
        option(value="id") {{'trips' | translate}}
        option(value="phone") {{'Phone' | translate}}
  .col-xs-2
    .input-group.input-sm
      input.form-control(ng-model="search" ng-change="getScheduledHistory(page, {'search':search,'searchBy':searchBy,'date':searchDate  })")
      .input-group-addon
        i.fa.fa-search
  .col-xs-12
    .col-xs-6
    .col-xs-6
      .dropdown.col-xs-6
        a.dropdown-toggle#dropdown2(role="button" data-toggle="dropdown" data-target="#")
          .input-group.input-sm
            span.form-control(ng-if="searchDate.start") {{searchDate.start | date: languageDateFormat}}
            span.form-control(ng-if="!searchDate.start") --/--/----
            span.input-group-addon
              i.fa.fa-calendar
        ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
          datetimepicker(data-ng-model="searchDate.start" ng-change="getScheduledHistory(page, {'search':search,'searchBy':searchBy,'date':searchDate })" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day'}" tabindex="11")
      .dropdown.col-xs-6
        a.dropdown-toggle#dropdown1(role="button" data-toggle="dropdown" data-target="#")
          .input-group.input-sm
            span.form-control(ng-if="searchDate.end") {{searchDate.end | date: languageDateFormat}}
            span.form-control(ng-if="!searchDate.end") --/--/----
            span.input-group-addon
              i.fa.fa-calendar
        ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
          datetimepicker(data-ng-model="searchDate.end" ng-change="getScheduledHistory(page, {'search':search,'searchBy':searchBy,'date':searchDate })" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day'}" tabindex="11")

  .col-xs-12
    .table-responsive
      table.table.table-technorides
        thead
          tr
            th
            th {{'trips' | translate}}
            th {{'date' | translate}}
            th {{'Passengers' | translate}}
            th {{'phone' | translate}}
            th.hidden {{'driver' | translate}}
            th {{'origin' | translate}}
            th.hidden-md {{'Dispatchers' | translate}}
            th {{'destination' | translate}}
            th {{'status' | translate}} 
            
          

        
        tbody(ng-repeat="row in grid.rows")
          tr
            td(ng-hide="showOpDetailsCurrentIds.indexOf(row.id) != -1" ng-click="showOpDetails(row.id)" style="cursor: pointer")
              | &#9658;
            td(ng-show="showOpDetailsCurrentIds.indexOf(row.id) != -1" ng-click="showOpDetails(row.id)" style="cursor: pointer")
              | &#9660;
            td {{row.id}}
            td {{row.date | date: "d MMM. hh:mm a"}}
            td {{row.firstName}} {{row.lastName}}
            td {{row.phone}}
            td.hidden {{row.driver}}
            td {{row.origin.address}}
            td {{row.operator}}
            td.hidden-md {{row.destination}}
            td.hidden-md {{row.stars}}
            
           
          tr.details(ng-show="showOpDetailsCurrentIds.indexOf(row.id) != -1")
            td(colspan="14")
              .row        
                .col-xs-2
                  .map 
                    img(ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{row.origin.latitude}},{{row.origin.longitude}}&zoom=15&size=200x70")
                .col-xs-2
                  strong {{'isFrequent' | translate }}
                  br
                  span(ng-if="row.isFrecuent") &check;
                  span(ng-if="!row.isFrecuent") &times;
                .col-xs-2
                  strong {{'relatedId' | translate}}
                  br
                  span {{row.operationId}}
                .col-xs-2
                  strong {{'comments' | translate}}
                  br
                  span {{row.comments}}
                .col-xs-4
                  strong {{'options' | translate}}
                  br
                  span
                    i.fa.fa-barcode(ng-if="row.options.invoice")
                    i.fa.fa-plane(ng-if="row.options.airport")
                    i.fa.fa-user(ng-if="row.options.vip")
                    i.fa.fa-briefcase(ng-if="row.options.luggage")
                    i.fa.fa-wheelchair(ng-if="row.options.specialAssistance")
                    i.fa.fa-sun-o(ng-if="row.options.airConditioner")
                    i.fa.fa-fire(ng-if="row.options.smoker")
                    i.fa.fa-paw(ng-if="row.options.pet")
                    i.fa.fa-truck(ng-if="row.options.courier")
      ul.list-group(ng-if="grid.rows.length == 0")
        li.list-group-item.text-center {{'noElementsFound' | translate}}
      p.text-center(ng-show="historyLoader")
        i.fa.fa-spinner.fa-pulse
    .text-center
      nav
        ul.pagination
          li(ng-class="{active: grid.page == 1}")
            a(ng-click="getScheduledHistory(1, {'search':search,'searchBy':searchBy,'date':searchDate })" href="")
              i.fa.fa-angle-double-left
          li(ng-repeat="page in grid.totalPages" ng-class="{active: page == grid.page}")
            a(ng-click="getScheduledHistory(page, {'search':search,'searchBy':searchBy,'date':searchDate })" href="") {{page}}
          li(ng-class="{active: grid.page == grid.pages}")
            a(ng-click="getScheduledHistory(grid.pages, {'search':search,'searchBy':searchBy,'date':searchDate })" href="")
              i.fa.fa-angle-double-right
