/* Loader */
#jquery-loader-background
{
  background-color: silver
}

#jquery-loader
{
    border: 2px black solid;
    padding-top: 35px;
    background-color: white;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
}
