.modal.fade.showmore.show1(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header.shadow-bottom
        button.close(aria-hidden='true', data-dismiss='modal', type='button') &times;
      .title
        .row
          .col-xs-6
          .col-xs-6
            h1.uppercase {{'viewMore1Title' | translate}}
      .modal-body
        .row
          .col-xs-6
            img.img-responsive(src="/technorides/assets/learnmore/mobilepayments_detail.png")
          .col-xs-6
            p {{'viewMore1Desc' | translate}}
            ul 
              li 
                i.fa.fa-check
                | {{'viewMore1Feat1' | translate}}
              li 
                i.fa.fa-check
                | {{'viewMore1Feat2' | translate}}
              li
                i.fa.fa-check
                | {{'viewMore1Feat3' | translate}}
      .modal-footer
.modal.fade.showmore.show2(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header.shadow-bottom
        button.close(aria-hidden='true', data-dismiss='modal', type='button') &times;
      .title
        .row
          .col-xs-6
          .col-xs-6
            h1.uppercase {{'viewMore2Title' | translate}}
      .modal-body
        .row
          .col-xs-6
            img.img-responsive(src="/technorides/assets/learnmore/walkietalkie_detail.png")
          .col-xs-6
            p {{'viewMore2Desc' | translate}}
            ul 
              li 
                i.fa.fa-check
                | {{'viewMore2Feat1' | translate}}
              li 
                i.fa.fa-check
                | {{'viewMore2Feat2' | translate}}

      .modal-footer
.modal.fade.showmore.show3(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header.shadow-bottom
        button.close(aria-hidden='true', data-dismiss='modal', type='button') &times;
      .title
        .row
          .col-xs-6
          .col-xs-6
            h1.uppercase {{'viewMore3Title' | translate}}
      .modal-body
        .row
          .col-xs-6
            img.img-responsive(src="/technorides/assets/learnmore/corporate_detail.png")
          .col-xs-6
            p {{'viewMore3Desc' | translate}}
            ul 
              li 
                i.fa.fa-check
                | {{'viewMore3Feat1' | translate}}
              li 
                i.fa.fa-check
                | {{'viewMore3Feat2' | translate}}
              li
                i.fa.fa-check
                | {{'viewMore3Feat3' | translate}}
              li
                i.fa.fa-check
                | {{'viewMore3Feat4' | translate}}
      .modal-footer
.modal.fade.showmore.show4(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header.shadow-bottom
        button.close(aria-hidden='true', data-dismiss='modal', type='button') &times;
      .title
        .row
          .col-xs-6
          .col-xs-6
            h1.uppercase {{'viewMore4Title' | translate}}
      .modal-body
        .row
          .col-xs-6
            img.img-responsive(src="/technorides/assets/learnmore/marketing_detail.png")
          .col-xs-6
            p {{'viewMore4Desc' | translate}}
            ul 
              li 
                i.fa.fa-check
                | {{'viewMore4Feat1' | translate}}
              li 
                i.fa.fa-check
                | {{'viewMore4Feat2' | translate}}
              li
                i.fa.fa-check
                | {{'viewMore4Feat3' | translate}}
      .modal-footer