nav.text-center          
  ul.pagination
    li
      a(href="" aria-label="Previous")
        span(aria-hidden="true") &laquo;
    li
      a(href="")
    li
      a(href="" aria-label="Next")
        span(aria-hidden="true") &raquo;
        
