.row
  .col-sm-8.modal-photo-left
    .modal-photo
      #map_details
  .col-sm-4.modal-photo-right
    .media-details
      span.categ 
      h3.media-title 
        |{{'Details' | translate}}
        .media-details
          .form-group
            label.media-title 
          
            .form-group
              strong   
              p 
            
